# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Logs
logs/
*.log

# Uploads
uploads/

# VS Code
.vscode/
generated_reports/.DS_Store
generated_reports/
